.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  color: white;
  justify-content: space-between;
  margin-top: 50px;
  font-family: "Roboto", sans-serif;
  // box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
}

mat-icon {
  padding-bottom: 50px;
}

p {
    margin: 0;
}

.page-footer {
  background-color:  #091540 !important;
}
