<div class="title-container">
    <img class="title-image" src="../../assets/images/servicii/usi_din_sticla_4.jpg" alt="Ușă din sticla" />
    <h3 align=center class="title">Uși din sticlă</h3>
</div>

<div align="center" class="description">
    <p align="center">Permite pătrunderea luminii naturale.</p>
    <p align="center">Sticla aleasă protejează interiorului casei indiferent de anotimp.</p>
</div>

<div align="center" class="image-container">
    <img style="width:100%; height:auto;" src="../../assets/images/servicii/usi_din_sticla_3.jpg" alt="Ușă din sticla" />
</div>

