<div class="title-container">
    <img class="title-image" src="../../assets/images/servicii/geam_termoizolant_1.jpeg" alt="geam termoizolant" />
    <h3 align=center class="title">Geam termoizolant</h3>
</div>

<div align="center" class="description">
    <p align="center">Acest tip de geam este structurat din mai multe panouri de sticlă separate de un material</p>
    <p align="center">cu o conductivitate scăzută, ideal pentru a izola interiorul în anotimpul rece.</p>
</div>

<div align="center" class="image-container">
    <img style="width:100%; height:auto;" src="../../assets/images/servicii/geam_termoizolant_2.jpg" alt="geam termoizolant" />
</div>
