<div class="title-container">
    <img class="title-image" src="../../assets/images/servicii/sticla_securizata.jpg" alt="sticla securizata" />
    <h3 align=center class="title">Sticlă securizată</h3>
</div>

<div align="center" class="description">
    <p>
        Curbarea sticlei se realizează folosind un cuptor specializat în această tehnică.
        Sticla trece printr-un proces de încălzire la temperaturi suficient de ridicate pentru ca aceasta să poată fi modelată și ulterior curbată.
    </p>
</div>

<div align="center" class="image-container">
    <img style="width:100%; height:auto;" src="../../assets/images/servicii/sticla_prelucrata_2.jpg" alt="sticla securizata" />
</div>