<div align="center" class="small-container">
    <p class="white-text">Informare GDPR</p>
</div>
<div align="center" class="text">
    Această pagină web site nu folosește sau procesează date cu caracter personal.
</div>

<div align="center" class="small-container">
    <p class="white-text">Locație</p>
</div>

<div class="container">
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="14">
        <agm-marker [latitude]="lat" [longitude]="lng" [label]="'Vetroglass'"></agm-marker>
    </agm-map>
</div>