<div class="title-container">
    <img class="title-image" src="../../assets/images/servicii/geam_termoizolant_antiefractie_1.jpg" alt="geam termoizolant antiefractie" />
    <h3 align=center class="title">Geam termoizolant antiefracție</h3>
</div>

<div align="center" class="description">
    <p align="center">Pe lângă caracteristicile de bază ale geamului termoizolant,</p>
    <p align="center">acest tip de geam este special conceput pentru a evita spargerea sticlei.</p>
</div>

<div align="center" class="image-container">
    <img style="width:100%; height:auto;" src="../../assets/images/servicii/geam_termoizolant_antiefractie_2.jpg" alt="geam termoizolant antiefractie" />
</div>
