<div class="title-container">
    <img class="title-image" src="../../assets/images/servicii/sticla_lacuita_1.jpg" alt="sticla lacuita" />
    <h3 align=center class="title">Sticlă lăcuită</h3>
</div>

<div align="center" class="description">
    <p align="center">Sticla trece printr-un tratament special pentru a asigura aderența optimă a lacului aplicat.</p>
    <p align="center">Culoarea sticlei și sclipirea acesteia sunt îmbunătățite.</p>
</div>

<div align="center" class="image-container">
    <img style="width:100%; height:auto;" src="../../assets/images/servicii/sticla_lacuita_2.jpg" alt="sticla lacuita" />
</div>