<div class="title-container">
    <img class="title-image" src="../../../assets/images/servicii/sticla_prelucrata_5.jpg" alt="sticla prelucrată" />
    <h3 align=center class="title">Sticlă prelucrată</h3>
</div>

<div align="center" class="description">
    <p align="center">Prelucrarea sticlei înseamnă controlarea termică sau tratarea chimicală a acesteia pentru a-i îmbunătăți rezistența.</p>
    <p align="center">O sticlă puternică protejează mai bine și este mai greu de spart.</p>
</div>

<div align="center" class="image-container">
    <img style="width:100%; height:auto;" src="../../assets/images/servicii/sticla_prelucrata_2.jpg"
        alt="sticla prelucrată" />
</div>