<div class="title-container">
    <img class="title-image" src="../../assets/images/servicii/mobilier_din_sticla_6.jpg" alt="Mobilier din sticla" />
    <h3 align=center class="title">Mobilier din sticlă</h3>
</div>

<div align="center" class="description">
    <p align="center">Oferă eleganță și lumină camerelor și birourilor.</p>
    <p align="center">Sticla poate fi prelucrată pentru a produce piese de mobilier din sticlă integral sau poate fi integrată cu un alt material.</p>
</div>

<div align="center" class="image-container">
    <img style="width:100%; height:auto;" src="../../assets/images/servicii/mobilier_sticla_4.jpg" alt="Mobilier din sticla" />
</div>

