<div class="title-container">
    <img class="title-image" src="../../assets/images/servicii/sticla_laminata_1.jpg" alt="sticla laminata" />
    <h3 align=center class="title">Sticlă antiefracție</h3>
</div>

<div align="center" class="description">
    <p align="center">Este un tip de sticlă securizată, obținută prin suprapunerea a două sau mai multe foi de sticlă și intercalarea unor folii sintetice.</p>
    <p align="center">La o eventuală spargere, fragmentele de sticlă rezultate ramân atașate de folia de plastic și astfel sunt evitate accidentele.</p>
</div>

<div align="center" class="image-container">
    <img style="width:100%; height:auto;" src="../../assets/images/servicii/sticla_laminata_2.jpeg" alt="sticla laminata" />
</div>

