<div class="title-container">
    <img class="title-image" src="../../assets/images/servicii/geam_termoizolant_1.jpeg" alt="geam termoizolant cu bagheta" />
    <h3 align=center class="title">Geam termoizolant cu baghetă</h3>
</div>

<div align="center" class="description">
    <p align="center">Are aceleași caracteristici ca și geamul termoizolant de bază, însă este</p>
    <p align="center">îmbunățătit cu o baghetă ornamentală. Se poate aplica și un model la alegere.</p>
</div>

<div align="center" class="image-container">
    <img style="width:100%; height:auto;" src="../../assets/images/servicii/geam_termoizolant_bagheta_2.jpg" alt="geam termoizolant cu bagheta" />
</div>
