<div class="title-container">
    <img class="title-image" src="../../../assets/images/servicii/sticla_bombata_1.jpg" alt="sticla bombată" />
    <h3 align=center class="title">Sticlă bombată</h3>
</div>

<div align="center" class="description">
    <p align="center">Curbarea sticlei se realizează folosind un cuptor specializat în această tehnică.</p>
    <p align="center">Sticla trece printr-un proces de încălzire la temperaturi suficient de ridicate pentru ca aceasta să poată fi modelată și ulterior curbată.</p>
</div>

<div align="center" class="image-container">
    <img style="width:100%; height:auto;" src="../../assets/images/servicii/sticla_bombata.jpg"
        alt="sticla bombată" />
</div>