<div class="container">
    <div align="center" class="subtitle">
        Oferim
    </div>

    <div align="center" class="description">
        <p align="center">Servicii profesionale de găurire, cântuire, sablare, tăiere și șlefuire sticlă.</p>
        <p align="center">Comercializare de ornamente din sticlă dintr-o gamă variată.</p>
        <p align="center" style="font-style: italic;">La preferințele clientului</p>
    </div>
</div>
<img src="../../assets/images/offer.jpg" style="width: 100%; height: 10%;">