<div class="title-container">
    <img class="title-image" src="../../../assets/images/servicii/sticla_sablata_1.jpg" alt="sticla sablata" />
    <h3 align=center class="title">Sticlă sablată</h3>
</div>

<div class="container">
    <div class="description">
        <p align="center">Sablarea sticlei constă în mătuirea unei suprafețe prin propulsia unor particule fine și
            abrazive.</p>
        <p align="center">Acest proces poate dura câteva ore, în funcție de dimensiunea geamului.</p>
    </div>
</div>

<div align="center" class="image-container">
    <img style="width:100%; height:auto;" src="../../assets/images/servicii/sticla_sablata_2.jpg"
        alt="sticla sablata" />
</div>