<div class="title-container">
    <img class="title-image" src="../../assets/images/servicii/geam_termoizolant_personalizat_1.jpg" alt="geam termoizolant personalizat" />
    <h3 align=center class="title">Geam termoizolant personalizat</h3>
</div>

<div align="center" class="description">
    <p align="center">Are aceleași caracteristici ca și geamul termoizolant de bază,</p>
    <p align="center">însă este îmbunățătit cu un model la alegere.</p>
</div>

<div align="center" class="image-container">
    <img style="width:100%; height:auto;" src="../../assets/images/servicii/geam_termoizolant_personalizat_2.jpg" alt="geam termoizolant personalizat" />
</div>
